.main__mainContainer {
    background-color: rgba(41, 139, 229, 1);
    height: available;
}

.App {
    background-color: rgba(41, 139, 229, 1);

}

Body {
    background-color: rgba(41, 139, 229, 1);
}

.main__loginButton {
    /* Button Secondary */


    /* Auto Layout */

    flex-direction: column;
    align-items: center;
    padding: 11px 15px;
    width: 150px;
    margin-top: 20px;

    background: #FFFFFF;
    /* Color 1 */

    border: 3px solid #2958E6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 10px;

}

.main__usernameInput {
    width: 20vw;
    height: 30px;

    /* Body Bold */

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */


    /* Color 2 */

    color: #A5B5E6;
}

.main__registerButton {
    /* Button Secondary */


    /* Auto Layout */

    flex-direction: column;
    align-items: center;
    padding: 11px 15px;
    width: 150px;


    background: #FFFFFF;
    /* Color 1 */

    border: 3px solid #2958E6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
}

.home__image {
    width: 117px;
    height: 126px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;

}

.home__image img {
    width: inherit;
    border-radius: 50%;
}


.main__passwordInput {
    width: 20vw;
    height: 30px;
    margin-top: 2%;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */


    /* Color 2 */

    color: #A5B5E6;

}


.main__LoginContainer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.main__loginButton text {
    position: static;
    height: 28px;
    left: 56.5px;
    right: 56.5px;
    top: calc(50% - 28px / 2);

    /* Body Bold */

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.main__buttonContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
}
.main__buttonContainer2 {
    display: grid;
    justify-content: center;
    align-items: center;
}




@media (max-height: 569px) {
    .main__buttonContainer {
        margin-top: 18vh;
    }
    .main__passwordInput, .main__usernameInput {
        width: 36vh;
    }
    .home__image {
        margin-top: 25px;
    }

}

@media (max-height: 701px) and (min-height: 651px) {
    .main__buttonContainer {
        margin-top: 29vh;
    }
    .main__passwordInput, .main__usernameInput {
        width: 43vh;
    }


}

@media (max-height: 651px) and (min-height: 569px) {
    .main__buttonContainer {
        margin-top: 20vh;
    }
    .main__passwordInput, .main__usernameInput {
        width: 50vh;
    }

}

@media (max-height: 1080px) and (min-height: 702px) {
    .main__buttonContainer {
        margin-top: 35vh;
    }
    .main__passwordInput, .main__usernameInput {
        width: 30vh;
    }
}


@media (max-width: 281px) {
    .main__passwordInput, .main__usernameInput {
        width: 28vh;
    }
}