.newLesson__main {
    background-color: #ffffff;
    margin-top: 10vh;
    margin-right: 10vh;

}
.number__input {
    border: 2px solid rgba(41, 88, 229, 1);
    border-radius: 2px;
    color: rgba(41, 88, 229, 1);
    width: 50px;
    height: 20px;
    margin-right: 60px;

}


.newLesson__selectContainer input{
    border: 2px solid rgba(41, 88, 229, 1);
    border-radius: 2px;
    color: rgba(41, 88, 229, 1);
    width: 230px;
    height: 60px;
    font-size: 22px;

}



.newLesson__lessonType {
    margin-bottom: 40px;
    color: rgba(41, 88, 229, 1);
    border: 2px solid rgba(41, 88, 229, 1);
    border-radius: 2px;}


.newLesson__turnSelect {
    color: rgba(41, 88, 229, 1);
    border: 2px solid rgba(41, 88, 229, 1);
    border-radius: 2px;
    width: 250px;
    height: 60px;
    font-size: 26px;
    margin-right: 70px;
}

.name__input {
    margin-right: 70px;

}

.newLesson__lessonType {
    color: rgba(41, 88, 229, 1);
    border: 2px solid rgba(41, 88, 229, 1);
    border-radius: 2px;
    width: 250px;
    height: 60px;
    font-size: 26px;
}


.newLesson__submit {
    border: 2px solid rgba(41, 88, 229, 1);
    border-radius: 2px;
    padding: 10px;
    color: rgba(41, 88, 229, 1);
}


.potlas {
    border: 2px solid rgba(41, 88, 229, 1);
    border-radius: 2px;
    color: rgba(41, 88, 229, 1);
    width: 30px;
    height: 15px;
    font-size: 22px;
}



@media (max-width: 300px) {
    .newLesson__main {
        margin: 0;
        text-align: center;
    }

    .newLesson__selectContainer select {
        margin-right: 0;
        margin-top: 5px;
    }
    .newLesson__selectContainer input {
        margin-right: 0;
        margin-top: 5px;
    }


}