.button {
  display: block;
  width: 10vw;
  margin: auto;
  font-size: 1.1em;
  color: #000;
  height: 34px;
  margin-top: 2em;
  border: 1px solid #FFF;
  border-radius: 5px;
}

.codeInput {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
  display: block;
  width: 50%;
  font-size: 1.1em;
  text-align: center;
}


@media (max-width: 500px) {
  .button {
    width: 30vw;
  }
}