
.form-label, .form-input {
  display: block;
  width: 70%;
  margin: auto;
  font-size: 1.1em;
}

.form-input {
  color: #000;
  padding: 4px 8px;
}

.form-label {
  margin-top: 8%;
  margin-bottom: 1%;
  color: #FFF;
}

.form-input  {
  height: 26px;
  border: 1px solid #FFF;
  border-radius: 5px;
}
