
.form-label, .form-input {
  display: block;
  width: 30vw;
  margin: auto;
  font-size: 1.1em;
}

.form-input {
  color: #000;
  padding: 4px 8px;
}

.form-label {
  margin-top: 5vh;
  margin-bottom: 1%;
  color: #FFF;
  text-align: initial;
}

.form-input  {
  height: 26px;
  border: 1px solid #FFF;
  border-radius: 5px;
}

.turnSelect__container{
  margin-top: 2vh;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: block;
}