body {
    background-color: #ffffff;
}

.admin__main {
    border: 20px solid rgba(41, 88, 229, 1);
    border-radius: 15px;
    margin-left: 290px;
    margin-right: 290px;
    height: 100%;
}

.admin__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.lessons__main {
    margin-left: 350px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;

}

.lessons__tableContainer {
    max-height: 300px;
    overflow: scroll;
}


.lessons_table {
    padding: 10px;
    border-spacing: 20px 0;
    overflow-y:scroll;
    max-height: 100px;
}

.newTurnus__inputs input {
    width: 200px;
    border: 3px solid rgba(41, 88, 229, 1);
    margin-right: 30px;
    border-radius: 6px;
    font-size: 20px;
    color: rgba(41, 88, 229, 1);
}

.newTurnus__inputs {
    margin-top: 100px;
}

.turnus__table {
    padding: 10px;
    border-spacing: 20px 0;
    overflow-y:scroll;
    max-height: 100px;

}

.turnusLister__tableContainer {
    margin-left: 300px;
    text-align: center;
    font-size: 20px;
}


.newTurnus__attendances {
    display: block;
    margin-bottom: 10px;
    height: auto;
}


.add_attendance {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;

}

.add_attendance p {
    color: rgba(41, 88, 229, 1);
    margin-right: 10px;
}

.add_attendance input {
    width: 50px;
}