

.admin__main {
    margin-top: 10px;
    border: 10px solid white;
    border-radius: 15px;
    margin-left: 290px;
    margin-right: 290px;
    height: 100%;
    background-color: white;
}

.admin__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.lessons__main {
    margin-left: 350px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;

}

.lessons__tableContainer {
    max-height: 300px;
    overflow: scroll;
}


.lessons_table {
    padding: 10px;
    border-spacing: 20px 0;
    overflow-y:scroll;
    max-height: 100px;
}

.newTurnus__inputs input {
    width: 200px;
    border: 3px solid rgba(41, 139, 229, 1);
    margin-right: 30px;
    border-radius: 6px;
    font-size: 20px;
    color: rgba(41, 139, 229, 1);
}

.newTurnus__inputs {
    margin-top: 100px;
}

.turnus__table {
    padding: 10px;
    border-spacing: 20px 0;
    overflow-y:scroll;
    max-height: 100px;
}

.turnusLister__tableContainer {
    margin-left: 300px;
    text-align: center;
    font-size: 20px;
}


.newTurnus__attendances {
    display: block;
    margin-bottom: 10px;
    height: auto;
}


.add_attendance {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;

}

.add_attendance p {
    color: rgba(41, 139, 229, 1);
    margin-right: 10px;
}

.add_attendance input {
    width: 50px;
}


.newTeacher__inputContainer {
    margin-top: 200px;
}

.newTeacher__inputContainer input {
    width: 200px;
    border: 3px solid rgba(41, 139, 229, 1);
    margin-right: 30px;
    border-radius: 6px;
    font-size: 20px;
    color: rgba(41, 139, 229, 1);

}


.newTeacher__inputContainer button {
    width: 150px;
    border: 3px solid rgba(41, 139, 229, 1);
    margin-right: 30px;
    border-radius: 6px;
    font-size: 20px;
    padding: 20px;
    color: rgba(41, 139, 229, 1);
}

.teacherLister_tableContainer {
    margin-left: 500px;
    text-align: center;
    font-size: 26px;
    max-height: 300px;
    overflow: scroll;
}

.teacher__AdmintTable {
    padding: 10px;
    border-spacing: 20px 0;
    overflow-y:scroll;
    max-height: 100px;
}


.statistics__table {
    font-size: 20px;
    padding: 10px;
    border-spacing: 20px 0;
    overflow-y:scroll;
    max-height: 100px;
}

.newTurnus__mainContainer, .statisticsFilter__main {
    margin-right: 50vh;
}

.statisticsFilter__main{
    margin-top: 10vh;

}

.statisticsTable__main {
    margin-left: 400px;
}


.statistics__tableContainer {
    margin-left: -10vw;
    margin-right: 7vw;
}

.lessonStatistics__container {
    height: 40vh;
    width: 40vw;

}


.newTeacher__main {
    margin-right: 18vw;
}


.statistics__selects {
    display: flex;
    justify-content: space-around;
    margin-left: -6vw;
    margin-right: 13vw;
}

@media (max-width: 1919px) and (min-width: 1500px) {
    .admin__main {
        margin-top: 10px;
        border: 10px solid white;
        border-radius: 15px;
        margin-left: 10vw;
        margin-right: 10vw;
        height: 100%;
        background-color: white;
    }

}



@media (max-width: 300px) {
    .admin__main {
        margin-top: 10px;
        border: 10px solid white;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        width: 100%;
    }

    .lessons__main {
        width: auto;
        margin-left: 0;
    }

    .admin__head {
        display: block;
        text-align: center;
    }

}
@media (max-width: 320px) {
    .admin__main {
        margin-top: 10px;
        border: 10px solid white;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        width: 100%;
    }

    .lessons__main {
        width: auto;
        margin-left: 0;
    }

    .admin__head {
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .admin__main div {
        text-align: center;
    }

}


@media (max-width: 500px) {
    .admin__main {
        margin-top: 10px;
        border: 10px solid white;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        width: 100%;
    }
    .admin__head {
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .admin__main div {
        text-align: center;
    }
    .lessons__main {
        width: auto;
        margin-left: 0;
    }
}