body {
    background-color: #ffffff;
}

.admin__main {
    border: 20px solid rgba(41, 88, 229, 1);
    border-radius: 15px;
    margin-left: 290px;
    margin-right: 290px;
    height: 100%;
}

.admin__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.lessons__main {
    margin-left: 350px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
}

.lessons_table {
    padding: 10px;
    border-spacing: 20px 0;
}

.newTurnus__inputs input {
    margin-top: 170px;
    width: 200px;
    border: 3px solid rgba(41, 88, 229, 1);
    margin-right: 30px;
    border-radius: 6px;
    font-size: 20px;
    color: rgba(41, 88, 229, 1);
}