.selection__container {
  background-color: #fff;
  width: 80%;
  margin: auto;
  border-radius: 6px;
}

.selection__title {
  padding: 15px;
  margin-top: 90px;
  font-size: 1.2em;
  text-align: center;
}

.selection__name {
  color: red;
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
}

.counter__select {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 170px;
  height: 34px;
  border: 1px solid #FFF;
  border-radius: 5px;
  font-size: 1.1em;
  text-align-last: center;
}
