.attendance__title {
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.attendance__numOfStudents {
  color: red;
  font-size: 3em;
  font-weight: bold;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.attendance__neptunText {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  height: 34px;
  color: #FFF;
  text-align: center;
}

.attendance__neptun {
  display: block;
  width: 50%;
  margin: auto;
  height: 34px;
  border: 1px solid #FFF;
  border-radius: 5px;
  font-size: 1.1em;
  text-align: center;
}

.attendance__addStudent {
  display: block;
  background-color: rgba(41, 139, 229, 1);
  color: #FFF;
  width: 70%;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #FFF;
  border-radius: 5px;
}

.attendance__addStudent:disabled {
  color: lightgrey;
  border: 1px solid lightgrey;
}

.attendance__message {
  color: #FFF;
  margin: auto;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}



@media (min-width: 1500px) {
  .attendance__neptun {
    width: 20vw;
  }
  .attendance__addStudent {
    width: 20vw;
  }
}