.counter__text {
  color: red;
  font-size: 3em;
  font-weight: bold;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.counter__code {
  color: #FFF;
  font-size: 2.2em;
  font-weight: bold;
  width: 70%;
  margin: auto;
  margin-top: 120px;
  text-align: center;
}

.counter__message__end {
  background-color: rgba(255, 0, 0, .75);
  color: white;
  width: 75%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  padding: 15px 0;
}